<% if (inst.id && actions) { %>
  <% actions.forEach(function(action) { %>
    <a class="btn btn-primary" href="<%= base %>/<%= action.subURL %>"><i class="<%= action.iconClass %>"></i> <%= action.label %><%if (action.suffixName) { %> <%=name%><%}%></a>
  <% }) %>
<% } %>

<form role="form" action="<%= base %>/save" method="POST" class="form-horizontal form-bordered" id="validateForm">
    <input type="hidden" id="id" name="id" value="<%= inst.id %>" />
    <div class="form-body">
      <% attributes.forEach(function(attr) { %>
        <% attr.value = inst[attr.name] %>
        <%- include("inputs/"+attr.type+".ejs", attr) %>
      <% }) %>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button class="btn btn-theme" type="submit">Save <%= name %></button>        
        </div>
    </div>
</form>
