<% if (actions) { %>
  <% actions.forEach(function(action) { %>
    <a class="btn btn-primary" href="<%= base %>/<%= action.subURL %>"><i class="<%= action.iconClass %>"></i> <%= action.label %><%if (action.suffixName) { %> <%=name%><%}%></a>
  <% }) %>
<% } %>

<table class="table table-stripped">
    <thead>
        <tr>
          <% attributes.forEach(function(attr) { %>
            <th><%= attr.label %></th>
          <% }) %>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <% insts.forEach(function(u) { %>
        <tr>
          <% attributes.forEach(function(attr) { %>
            <% if(attr.type == 'password') return %>
            <% if(attr.type == 'related') { %>
              <td><%- u[attr.name].name %></td>
            <% } else if(attr.type == 'boolean') { %>
            <td><%- u[attr.name] ? '<i class="fa fa-check"></i>' : '' %></td>
            <% } else { %>
            <td><%= u[attr.name] %></td>
            <% } %>
          <% }) %>
            <td class="bold"><a href="<%= base %>/edit/<%= u.id %>"><i class="fa fa-edit"></i></a>
              <a href="<%= base %>/remove/<%= u.id %>" class="delete-confirm"><i class="fa fa-remove"></i></a></td>
        </tr>
      <% }) %>
        
    </tbody>
</table>

